#header{
    background: #fff;
}
.herotext{
    color:#353535;
}
.btn-default{
    border-color:#fff;
    color:#fff;
    font-weight: 800;

}
.btn-default.main-page-button{
    font-size: 35px;
    box-shadow: 1px 1px 1px ;
}
.trip-form{
    text-align: left;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin:15px 0 0;
    padding: 0;
}
.navbar-brand img{
    display:block;
    height:50px;
    margin: 0;
    padding: 0;
}

#credits{
    background: #353535;
    color:#e8eced;
}
.wrapsection{
    padding-top: 50px;
}
.maintitle .lead{
    margin-bottom: 20px;
}